*{
    padding: 0;
    margin: 0;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}
body{
    width: 750px;
    margin: 30px auto;
    
}

.weather-container{
    color:white;
    background: linear-gradient(145deg,#2193b0, #6dd5ed);
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Lato', sans-serif; */
  
}
.search-container{
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}
.search-icon{
    margin-right: 5px;
    position: absolute;
    left: 0;
}
#search-input{
    border: 0;
    outline: 0;
    padding: 3px 3px 3px 20px;
    background: transparent;
    height: 20px;
    width: 600px;
    color: white;
}
#search-input::placeholder{
    color: rgb(206, 206, 206);
    font-style: italic;
}
.current-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 30px;
    font-style: italic;
}
.row{
float: left;
width: 50%;
 
}
.additional-info::after {
    content: "";
    clear: both;
    display: table;
}
.additional-info{
    text-align: center;
   padding-bottom: 45px;
   
   
}
.daily-forecast::after {
    content: "";
    clear: both;
    display: table;
}
.div-daily{
    float: left;
    width: 33.33%;
    padding: 45px 0px;
}
.daily-forecast{
    text-align: center;
    
}

.hourly-forecast{
    text-align: center;
    position: relative;
}
.btnBack{
    position: absolute;
    left: 0px;
    top:50%;
    /* border-radius: 50%; */
    /* width: 35px; */
}
.btnNext{
    position: absolute;
    right: 0px;
    top: 50%;
}

.button:hover {background-color: #3e8e41}
.button:active {
    background-color: #3e8e41;
    /* box-shadow: 0 5px rgb(46, 4, 95); */
    transform: translateY(4px);
  }
  .button {
    /* display: inline-block; */
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: white;
    /* border-radius: 15px; */
    /* box-shadow: 0 9px #999; */
  }

.label{
    font-weight: bold;
}

.hidden{
    display: none !important;
}

.hour-subcontainer::after {
    content: "";
    clear: both;
    display: table;
}

.hour-subcontainer{
    text-align: center;
    
}
.sub-sub-container{
    width: 25%;
    float: left;
}
.space{
    height:50px;
}
.daily-subcontainer{
    text-align: center;
}
.daily-subcontainer::after {
    content: "";
    clear: both;
    display: table;
}

.daily-subcontainer .sub-sub-container{
    width: 33.33%;
    float: left;
}






